<html>
        <head>
                <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
        </head>
        <body>
        <a href="{{ url_for('index') }}">Home</a>&nbsp;
        
        <a href="{{ url_for('conferences') }}"> Conferences </a> &nbsp;
        <a href="{{ url_for('static', filename='about.html') }}">About Conferences</a>&nbsp;
        
        <!-- To check if the user is Loged In 
        and present or not links to «rofile» and «Logout» -->
        {% if current_user.is_authenticated %}
                <a href="{{ url_for('conferences') }}"> Profile </a>&nbsp;
                <a href="{{ url_for('logout') }}"> Logout </a>&nbsp;
        {% else %}
                <a href="{{ url_for('login')}}"> Login </a>&nbsp;
        {% endif %}
                <h3>Conference Barrel</h3>
                <h4> Menu goes here </h4>

                {% block content %}
                {% endblock %}

        </body>

</html>