<!-- Tell that 'basetemplatepage.html' is the parent of this page -->
{% extends 'basetemplatepage.html' %}


{% block content %}


<!-- Flash messages from flask library -->

<!-- get_flashed_messages() => retrives mesage prepared for this request from function «def register()» 
from «main.py» -->

{% with messages = get_flashed_messages() %}
  <!-- If messages exist -->
  {%if messages %}
    <!-- Display «message» in the list form -->
    <ul>
      <!-- Loop throuth the «messages» to get the right «message» -->
      {% for message in messages %}
        <!-- Display «message» from «messages» -->
        <li>{{ message }}</li>
      {% endfor %}
    </ul>

  {% endif %}

{% endwith %}


<!-- To check if the user is Loged In 
and redirect with «meta» tag to a «secrete_data» 

If user not Loged In => show him the login form -->
{% if current_user.is_authenticated %}
  <meta http-equiv="Refresh" content="0; url={{ url_for('secret_data')}}" />
{% else %}
  <form action="/login" method='POST'>
    <input type="text" name="username" value="Username">
    <input type="text" name="password" value="Password">
    <input type="submit" value="Login">
 </form> 

{% endif %}



<a href="{{ url_for('register') }}">Make a Registration</a>

{% endblock %}